{% extends 'search/base.html' %}


{% block content %}
<!--
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.level }} {{ obj.TITLE }}<br />
    {% endfor %}
-->
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>



  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Level</th>
        <th>Subject</th>
        <th>University</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in filter.qs %}
        <tr>
          <td>{{ obj.level }}</td>
          <td>{{ obj.TITLE }}</td>
          <td>{{ obj.UNI_NAME }}</td>
          <td>{{ obj.country }}</td>

            {% endfor %}
          </td>
        </tr>
    </tbody>
  </table>
{% endblock %}

