{% extends 'search/base.html' %}
{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.level }} - ${{ obj.TITLE }}<br />
    {% endfor %}
{% endblock %}




<!--

  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% for search in filter.qs %}
    <li>{{ search.level }} - {{ search.TITLE }}</li>
  {% endfor %}
  </ul>

-->