{% extends 'search/base.html' %}

{% load widget_tweaks %}

{% block content %}
<!--
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.level }} {{ obj.TITLE }}<br />
    {% endfor %}
-->
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>


  <ul>
  {% for obj in filter.qs %}
    <li> {{ obj.level }} {{ obj.TITLE }} </li>
  {% endfor %}
  </ul>

{% endblock %}

